html{
	
	font-family:Arial, Helvetica, sans-serif;
}

body{
	margin: 0;
	background-color: white;
}

header{
	width: 100%;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #4c4c4c;
}
.navigation {
  list-style-type: none;
  float: right;
}

#content{
	clear: both;
	margin:2em;
}

li{
  	float: left;
	margin:0.5em;
	margin-top: 1em;
	height:10%;
	display: inline;
	color:white;
	font-size:large;
}

li:not(#welcome_message){
	cursor:pointer;
}

li:not(#welcome_message):hover {
  color: red;
}

#all_users, #user_activity{
	margin: 0;
	margin-right: 10em;
}

td{
	text-align: center; 
    vertical-align: middle;
}

th,td {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
 
th:first-child,td:first-child {
  border-left: 1px solid black;
}

input[type=text],textarea,input[type=search]{
	
    padding: 1pt 1pt;
    display: inline-block;
    border: 1pt solid #ccc;
    border-radius: 4pt;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}

#all_users tbody tr.even:hover, #all_users tbody tr.even td.highlighted {
	background-color: #F5F5F5;
	cursor:pointer;
}

#all_users tbody tr.odd:hover, #all_users tbody tr.odd td.highlighted {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_1 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_2 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_3 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_1 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_2 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_3 {
	background-color: #F5F5F5;
	cursor:pointer;
}

#all_users tbody tr.even:hover, #all_users tbody tr.even td.highlighted {
	background-color: #F5F5F5;
	cursor:pointer;
}

#all_users tbody tr.odd:hover, #all_users tbody tr.odd td.highlighted {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_1 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_2 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.even:hover td.sorting_3 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_1 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_2 {
	background-color: #F5F5F5;
	cursor:pointer;
}

 #all_users tr.odd:hover td.sorting_3 {
	background-color: #F5F5F5;
	cursor:pointer;
}


#user_activity tbody tr.even:hover, #user_activity tbody tr.even td.highlighted {
	background-color: #F5F5F5;
}

#user_activity tbody tr.odd:hover, #user_activity tbody tr.odd td.highlighted {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_1 {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_2 {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_3 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_1 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_2 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_3 {
	background-color: #F5F5F5;
}

#user_activity tbody tr.even:hover, #user_activity tbody tr.even td.highlighted {
	background-color: #F5F5F5;
}

#user_activity tbody tr.odd:hover, #user_activity tbody tr.odd td.highlighted {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_1 {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_2 {
	background-color: #F5F5F5;
}

 #user_activity tr.even:hover td.sorting_3 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_1 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_2 {
	background-color: #F5F5F5;
}

 #user_activity tr.odd:hover td.sorting_3 {
	background-color: #F5F5F5;
}

a{
	cursor:pointer;
}
input[type="button"]{
	height:10%;
	display: inline;
	cursor:pointer;
	border: solid 1pt #333;
	background-color:#333;
	border-radius: 4pt;
	color:white;
	font-size:large;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}

#name_display p{
	display: inline;
	margin:0.5;
	height:10%;
	display: inline;
	color:black;
	font-size:large;
}

#name_display{
	margin-bottom: 1em; 
}

#current_image{
	margin: 1em -100%;
	position:relative;
	z-index:-1;
}

#image_container{
  text-align:center;
  margin:2em auto;
  overflow:visible; /* let's see what we slice off */
}
#like_dislike{
	width: 100%;
	text-align: center;
	display: block;;
}

select[name="all_users_length"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

select[name="all_users_length"] select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

select[name="all_users_length"] select:focus {
    outline: none;
}

#all_users_wrapper, #user_activity_wrapper{
	padding: 0;
	margin: 0;
}

#all_users_filter, #user_activity_filter{
	margin-bottom: 0.5em;
	margin-right: 0;
	padding: 0;
}

#all_users_filter input,#user_activity_filter input{
	margin-right: 0;
}

.dataTables_info{
	margin-left: 1em;
}

.like_dislike:disabled{
	background-color: red;
}