html{
	
	font-family:Arial, Helvetica, sans-serif;
}

body {	
	
	width:25%;
	margin:5% auto;
	background-color:white;
}

#login_body{
	margin-top: 10%;
}
form{
	
    border: 1pt solid #ccc;
    border-radius: 4pt;
	vertical-align: middle;
	padding:1em;
}

h3{
	text-align:start;
}

input[type=text],input[type=password]{
	
	font-size:medium;
    padding: 5pt 5pt;
	margin: 8pt 0;
    display: inline-block;
    border: 1pt solid #ccc;
    border-radius: 4pt;
	width:100%;
	text-indent:1.5em;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.login,a {

	margin-top:1em;
	width:100%;
	height:10%;
	display: inline-block;
	cursor:pointer;
	border: solid 1pt #333;
	background-color:#333;
	border-radius: 4pt;
	color:white;
	font-size:large;
}

input#username, input#first_name, input#last_name {
	
    background: white url("../images/user.png") 0.3em no-repeat;

}

input#password, input#password_confirm {
	
    background: white url("../images/password.png") 0.3em no-repeat;
}

.error{
	text-align: center;
	color: red;
}

a{
	text-align: center;
	display: block;
	text-decoration: none;
	width: 100%;
  vertical-align: middle;
  display: block;
  padding-top: 1em;
  height: 9%;
}